
.one {
    color: green;
    cursor: pointer;
}

.two {
    color: red;
    cursor: pointer;
}

.three {
    color: blue;
    cursor: pointer;
}


.detail,
.commission {
    border: 1px solid lightgrey;
    padding: 20px 10px;
    position: relative;
}

.detail::after {
    content: "Employee Detail";
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    padding: 3px 8px;
    border: 1px solid lightgrey;
}


.commission::after {
    content: "Employee Commission";
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    padding: 3px 8px;
    border: 1px solid lightgrey;
}



@media (max-width:600px) {
    .pair {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btns {
        flex-direction: column;
    }
}